<?xml version="1.0" encoding="utf-8"?>
    <packages>

      <package id="googlechrome" installArguments="--Y" />          
      <package id="f.lux" installArguments="--Y" />

      <package id="spotify" installArguments="--Y" />       
      <package id="microsoft-windows-terminal" installArguments="--Y" />
      <package id="vscode" installArguments="--Y" />
      <package id="notepadplusplus" installArguments="--Y" />
      <package id="pdfxchangeeditor" installArguments="--Y" />
      <package id="lightshot" installArguments="--Y" />
      <package id="postman" installArguments="--Y" />
      <package id="screentogif" installArguments="--Y" />
      <package id="zoom" installArguments="--Y" />
      <package id="git" installArguments="--Y" />
      <package id="powertoys" installArguments="--Y" />
      <package id="pasteintofile" installArguments="--Y" />   


    </packages>